/*Inicio Configurações da página*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root{
    --color-neutral-0:#0e0c0c;
    --color-neutral-10:#171717;
    --color-neutral-30:#a8a29e;
    --color-neutral-40:#f5f5f5;
    --color-neutral-50:#dcfae5;
    --color-neutral-60:#abf5b7;
    --color-neutral-70:#3a753c;
    --color-neutral-80:#008080;

}

nav #nav_column2 .img-icone{
  background-color: var(--color-neutral-80);
  height: 130px;
}
 

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 50px 50px 10px 0px;
    margin-right: 30px;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    justify-items: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #111;
  }
  
  ul.topnav li a.active  {
    background-color:var(--color-neutral-80);
    margin-left: 30px;
    gap: 10px;
   
  }

  
  ul.topnav li.right {float: center;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li {float: none;}
  }

  main #main_column2 img{
    height: 500px;
    width: 550;
    margin-left: 30px;
}



/* Slideshow container /Inicio Banner Carrosel*/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Oculta as imagens por padrão */
.mySlides {
  display: none;
}

/* Botões próximo e anterior */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posicione o "botão próximo" à direita */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Ao passar o mouse, adicione uma cor de fundo preta com um pouco de transparência */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Texto da legenda */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Texto numérico (1/3 etc.) */
.numbertext {
  color: var(--color-neutral-80);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Os pontos/marcadores/indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #c1f7d2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:white;
}

/* Animação esmaecida */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Fim Banner Carrosel*/
header #header_column2 h1{
   color: var(--color-neutral-80);
   margin-left: 230px;
   font-family: Arial, sans-serif;
}

header #header_column2 h3{
    color: var(--color-neutral-10);
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-right: 25px;
}

header #header_column1 img {
    width: 315px;
    height: 350px;
}

header #header_column2 img {
   max-width: 70%;
    
}



/* SECTION */

section #section_column2 h2{
   color: var(--color-neutral-80);
   text-align: center;
   font-family: Arial, sans-serif; /* Altere a fonte conforme desejado */
   /* font-size: 18px; Altere o tamanho da fonte conforme desejado */
}

section #section_column2 h3{
    color: var(--color-neutral-0);
    text-align: justify;
    font-family: Arial, sans-serif; /* Altere a fonte conforme desejado */
    /* font-size: 14px; Altere o tamanho da fonte conforme desejado */
    margin-left: 150px;
 }

 section #section_column2 img{
    max-height: 100%;
}

 /* FOOTER */
 footer > #footer_column1 {
    padding: 3rem 3.5rem ;
   
   }

footer > #footer_column1 h1{
    color: var(--color-neutral-40);
   
}

footer > #footer_column1 p{
    color: var(--color-neutral-40);
   
} 

footer > #footer_column1 .botao-redondo {
    display: flex;
    border-radius: 50%; /* Torna o botão redondo */
    border: none; /* Remove a borda padrão do botão */
    width: 40px; /* Define a largura do botão */
    height: 40px; /* Define a altura do botão */
    background-color: #7f37c9; /* Cor de fundo do botão */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do botão */
  }

  .botao-redondo img {
    width: 70%; /* Faz a imagem ocupar 100% do espaço disponível dentro do botão */
    height: auto; /* Mantém a proporção da imagem */
  }

  footer > #footer_column3{
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      list-style: none;
  }

footer > #footer_column3 .footer_link{
    color:var(--color-neutral-40);
    transition: all 0.45s;
  }
  

  footer > #footer_column3 .footer_link{
    /* tirar linha da lista */
    text-decoration: none; 
}



footer h1{
   margin-bottom: 0,75rem;
}

footer #footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

footer #footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color:var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

footer #footer_social_media .footer_link i{
    font-size:1.25rem;
}

footer #footer_social_media .footer_link:hover{
opacity: 0.8;

}


footer #whatsapp{
    background-color: #25d366;

}



#linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Define a largura do botão */
  height: 40px; /* Define a altura do botão */
    border-radius: 50%; /* Faz o botão redondo */
    background-color: #0077B5; /* Cor de fundo do LinkedIn */
    color: #fff; /* Cor do ícone */
    font-size: 24px; /* Tamanho do ícone */
    text-decoration: none; /* Remove sublinhado do link */
}

footer > #footer_column3{
    flex-direction: column;
    /* gap: 0.75rem; */
    list-style: none;
}

footer > #footer_column3{
  color:var(--color-neutral-40);
  transition: all 0.45s;
}


  footer > #footer_column3{
    padding: 90px 20px 10px 100px;
   
  }

  footer > #footer_column2{
    padding: 30px 0px 30px 0px;
    
   
  }

/* 
  footer > #footer_column2 {
   padding: 60px 160px 60px 160px;
   /* width:300px;
   height:250px;
   
   border:0.75;  */
    
     

 
  
 


 
